{% extends 'polls/base.html' %}
{% load static %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="form-container">
    <form action="{% url 'polls:vote' question.id%}" method="post">
        {% csrf_token %}
          <div class="imgcontainer">
            <img src="{% static 'polls/images/img_semos.svg' %}" alt="Semos" class="avatar">
          </div>
            <div class="container">
                <h2>{{ question.question_text }}</h2>
                {% for choice in question.choice_set.all %}
                    <div class="choice-container">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>
                    </div>
                {% endfor %}
                <button type="submit">Vote</button>
            </div>
    </form>
    </div>
{% endblock %}